@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
html,
body {
    min-width: 720px;
    overflow: hidden;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}


/*Google Font Download*/


/* ++common header settings++ */

header {
    display: flex;
    position: relative;
    height: 60px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: #363636;
}

#iconHeader {
    position: absolute;
    left: 20px;
}

#logoHeader img {
    max-height: 60px;
}

#iconHeader img {
    max-height: 60px;
}

#admin {}

#boxSidebar>.enabled {
    display: block;
}

#boxSidebar>.disabled {
    display: none;
}


/* --common header settings-- */


/* ++common container settings++ */

#container {
    display: flex;
    height: 100%;
}


/* --common container settings-- */


/* ++common section settings++ */

section {
    display: flex;
    height: 100%;
    width: 20%;
}

#boxSidebar {
    /* width: 60px; */
    min-width: 60px;
    height: 100%;
    background-color: #363636;
}

.sidebar>div {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

#boxSidebar>.sidebar:nth-of-type(2)>div {
    padding-bottom: 5px;
    &>img {
        width: 60%;
    }
}

.sidebar>div>img {
    width: 70%;
    height: 100%;
}

#boxSideList {
    flex: auto;
    text-align: center;
    background-image: url("/site/img/common/backGroundImageSideListBlack.svg");
    background-color: rgba(0, 0, 0, 0.15);
    background-blend-mode: darken;
}

#boxSideList h2 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 40px;
    font-family: "Stick", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align-last: left;
}

.sideList:not(.empty) {
    display: flex;
    height: 45px;
    justify-content: left;
    align-items: center;
    border: 1px solid black;
    &p {
        
    }
}


/* --common section settings-- */


/* ++common main settings++ */

main {
    width: 80%;
    height: 100%;
    /* ++test++ */
    display: grid;
    place-items: center;
    /* --test-- */
}


/* --common main settings-- */