@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Kosugi+Maru&display=swap');

html,
body {
    min-width: 720px;
    overflow: hidden;
    user-select: none;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

p {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    pointer-events: none;
}

/*Google Font Download*/


/* ++common header settings++ */

header {
    display: flex;
    position: relative;
    height: 60px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: #363636;
}

#iconHeader {
    position: absolute;
    left: 20px;
}

#logoHeader img {
    max-height: 60px;
}

#iconHeader img {
    max-height: 60px;
}

#admin {

    &>div>img {
        width: 60%;
    }
}

/* --common header settings-- */


/* ++common container settings++ */

#container {
    display: flex;
    height: 100%;
}


/* --common container settings-- */


/* ++common section settings++ */

section {
    display: flex;
    height: 100%;
    width: 20%;
}

#boxSidebar {
    min-width: 60px;
    height: 100%;
    background-color: #363636;
    &>.sidebar:nth-of-type(2)>div {
        &>img {
            width: 60%;
        }
    }
    &>.empty {
        height: 50px;
        &:hover {
            cursor: default;
        }
    }
    &>.selected {
        background-color: #AF3232;
    }
}

#boxSideList {
    flex: auto;
    text-align: center;
    background-image: url("/site/img/common/backGroundImageSideListBlack.svg");
    background-color: rgba(0, 0, 0, 0.15);
    background-blend-mode: darken;
    &>div>h2 {
        margin-bottom: 20px;
        color: #fff;
        font-size: 40px;
        font-family: "Stick", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align-last: left;
    }
    &>.empty:hover>h2 {
        cursor: default;
    }
    &>.selected {
        background-color: #8F8989;
    }
}

.sidebar {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    &:not(.empty):hover {
        background-color: #565656;
        cursor: pointer;
    }
    &>div {
        display: flex;
        justify-content: center;
        align-items: center;
        &>img {
            width: 70%;
            height: 100%;
        }
    }
}

.sideList {
    border-bottom: 1px solid black;
    &:not(.empty) {
        display: flex;
        height: 52px;
        justify-content: left;
        align-items: center;
        background-color: #D9D9D9;
        &>p {
            font-size: 27px;
        }
        &:hover {
            background-color: #a0a0a0;
            cursor: pointer;
        }
    }
}

/* --common section settings-- */


/* ++common main settings++ */

main {
    width: 80%;
    height: 100%;
    background-image: url("/site/img/common/backGroundImageSideListBlack.svg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    /* ++test++ */
    display: grid;
    place-items: center;
    /* --test-- */
}

/* --common main settings-- */

/* ++common footer settings++ */
footer {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #363636;
}

#logoFooter {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
/* --common footer settings-- */