@charset "UTF-8";
/*Google Font Download　消す　*/
.kosugi-maru-regular {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.stick-regular {
    font-family: "Stick", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  


main{/*全体の設定*/
    width: 1041px;
    height: 626px;
    /*後で消す背景の色、グラデ画像*/
    background-color: rgb(125, 123, 123);
    
    color: #f0f0f0;
    
}
.center{
margin-left: 33px;
}

/*　アイコンとバッジをまとめたdiv　*/
  .iconUnify{
    position: relative;
  }

  /*　一つの投稿のまとめdiv　*/
  .commentMain{
margin-bottom: 13px;
padding-bottom: 25px;
display: flex;

  }

/*「#commentArea」にあるスクロールバーの設定三つ*/
#commentArea::-webkit-scrollbar {
    width: 14px;
  }
  
  #commentArea::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
  #commentArea::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
  }
/*スレの内部の真ん中のエリアで色々含んでるdiv*/
#commentArea{
    background-color: #2F2C37;
    width: 93.46%;
    height: 69.98%;
    margin-top: 15px;
    font-family: 'Kosugi Maru', sans-serif;
    overflow: auto;/*スクロールバー*/


    #imageIcon, #imageBadge{
        position: absolute; /* 画像の位置指定 */
      top: 0;
      left: 0;
    }
    /*アイコンの画像*/
    #imageIcon{
        z-index: 1;
        top: 27px;
        left: 59px;
    
        width: 60px; /* 画像の幅 */
        height: 60px; /* 画像の高さ（円形にするために幅と高さは同じにする） */
        border-radius: 50%; /* 丸く切り取る */
        object-fit: cover; /* 画像が切り取られるときに中心を保つ */
    }
    /*バッジの画像*/
    #imageBadge{
        z-index: 2;
        top: 53px;
        left: 100px;
    
        width: 34px; /* 画像の幅 */
        height: 34px; /* 画像の高さ（円形にするために幅と高さは同じにする） */
        border-radius: 50%; /* 丸く切り取る */
        object-fit: cover; /* 画像が切り取られるときに中心を保つ */
    
    }

}


/*h2の「タイトル」の文字*/
#textTitle{
    font-family: 'Stick', sans-serif;
    text-align: left;
    font-size: 40px;
    padding: 15px 0 0 40px;
}


/*　上にあるコメントの情報(ユーザー名、投稿時間、コメント番号)を三つまとめたdiv　*/
#commentInformation{
    display: flex;
    font-size: 15px;
    position: relative;
  }
/*　ユーザー名　*/
#textNickName{
    display: flex;
    
    margin-left: 177px;
    margin-top: 20px;
}
/*投稿時間*/
#textPostTime{
    position: absolute; 
    left: 450px;/* あとで調節 */
    display: flex;
    margin-top: 20px;
}
/*コメント番号*/
#textCommentNum{
    position: absolute; 
    left: 675px; /* あとで調節 */
    display: flex;
    margin-top: 20px;
}

/*コメントの内容*/
.textComment{
margin-top: 5px;
width: 681px;
margin-left: 150px;
p{/*コメントの文字*/
    line-height: 1.4;/*あとで調節*/
    font-size: 16px;
}
}
/*いいねのハートの画像*/
.buttonLike{
    padding: 40px 0 0 10px;
}

/*いいねの数*/
.textLikeCount{
 
    padding:0 0  0 60px;
    margin-top: -32.5px;
    font-family: 'Kosugi Maru', sans-serif;
}
/*-------------------------下の送信のエリア-----------------------*/
#transmission{
    display: flex;
    margin-top: 25px;
    

}


/*送信のテキストエリア*/
.textareaComment {
    width: 872px;
    height: 55px;

    min-height: min-content;
    background-color: #2F2C37;
    color: #f0f0f0;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 16px;
    resize: none;
    field-sizing: content;
    p{
        line-height: 1.4;/*あとで調節*/
        font-size: 16px;
    }

}

/*送信のボタンのdiv*/
#buttonSend input[type="submit"]{
    background-color: #200D4D;/**/
    font-size: 20px;
    color: #f0f0f0;
    width: 100px;
    height: 55px;/*あとで*/
    font-family: 'Kosugi Maru', sans-serif;
}
/*　したの線のdiv border-bottom　*/
.lineborder{
    border-bottom:3px solid #d9d9d9;
    width: 874px;
  margin: 0 auto;

}
  .commentComponent:last-child > .lineborder {
    border-bottom: none;

  }