body{
    width: 1040px;
}
.tabs {
    max-width: 100%;
    margin: 10% auto;
  }
  
  .tab-list {
    background-color: #A5A3A0;
    display: flex;
    height: 70px;
  }
  
  .tab-item {
    border-radius: 10px 10px 0 0;
    background-color: #A5A3A0;
    padding: 0.5em 1.2em;
    margin: 40px 0 0 0;
    cursor: pointer;
    color: #fff;
  }
  .tab-item:first-child{
    margin-left: 50px;
  }
  
  .tab-content {
    background-color: #72696A;
  }
  
  .tab-panel {
    margin-left: 40px;
    display: none;
    color: #fff;
    
  }
  .themeDitail{
    margin: 35px 0 15px 0;
    padding-bottom:5px;
    border-bottom: solid 1px #fff;
  }


  .themeHeader p{
    float: left;
  }
  .themeHeader p :nth-child(1){
    margin-right: 50px;
    
  }
  
  .tab-item.active {
    background-color: #72696A;
  }
  
  .tab-panel.active {
    display: block;
    padding: 3%;
  }
 