body{
    background-color: #363636;
    height: 100vh;
    overflow:  none;
}

main{
    width: 1000px;
    height: 100%;
    background-color: #676767;
    margin-right: auto;
    justify-content: flex-end;
    overflow-y: scroll; 
    padding-right: 100;
}

main::-webkit-scrollbar {
    width: 14px;
  }
  
  main::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
  main::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
  }
.notifiCmp {
    max-width: 90%;
    height: auto;
    margin: 10px auto;
    padding-top: 15px;
    border-radius: 18px;
    text-align: right;
    background-color: #363636;
    border: 3px solid #ffffff;
}
.notifiCnt p{
    color: #f0f0f0;
    display: flex;
    margin: 14px 16px;
    font-size: 16px;
    

}
.notifTrash{
    margin: 0 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
 }

.notifTrash img{
   margin: 0 0 0 auto;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}
#date-time{
    color: #F0F0F0;
    margin: 25px;
    
}