body{
    height: 100vh;
    overflow: none;
    background-color: #696969;
}
main{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 100%;
}
#mainContent{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 100%;
    #list{
        height: 66%;
    }
}
#subtitle{
        height: 15%;
        font-size: 64px;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 15px;
        padding-top: 15px;
}
#list{
    width: 80%;
    overflow-y: scroll;
    margin: auto;
    max-width: 100%;
}
#content{
    display: flex;
    background-color: rgb(185, 185, 185);
    width: 86.9%;
    height: 50px;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    line-height: 30px;
    text-decoration: none;
    border-style: solid;
    margin-bottom: 2px;
    div{
        margin: auto;
    }
    p{
        font-size: 16px;
        color: black;
        text-align: center;
    }
    #icon{
        img{
            margin: 5px;
            width: 40px;
            height: 40px;
            border-radius: 40px;

        }
    }
    #nickName{
        width: 123px;
        height: 28px;
    }
    #roll{
        width: 68px;
        height: 28px;
        text-align: center;

    }
    #email{
        width: 240px;
        height: 28px;
        text-align: center;

    }
    #sure{
        width: 140px;
        height: 28px;
        text-align: center;
    }
}
#Btn{
    display: flex;
    height: 15%;
    width: 88.4%;
    max-width: 100%;
    margin: auto;
}
#prevBtn{
    display: inline-block;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    width: 76px;
    height: 27px;
    background-color: #363636;
    text-align: center;
    border-radius: 20px ;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 80%;
    a{
        text-decoration: none;
        color: white;
    }
}
#nextBtn{
    display: inline-block;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    width: 76px;
    height: 27px;
    background-color: #363636;
    text-align: center;
    border-radius: 20px ;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    font-size: 20px;
    margin-top: 30px;
    a{
        text-decoration: none;
        color: white;
    }
}
#pageCnt{
    color: white;
    font-size: 32px;
    margin-top: 30px;
    padding-right: 30px;
}

/*依頼ページ*/
#yesNo{
    text-align: center;
    width: 80px;
    height: 28px;
}
#yes{
    width: 80px;
    height: 28px;
    background-color: #8AD6E5;
    border-radius: 8px ;
    border-color: black;
    border-width: 1px;
    border-style: solid;

}
#no{
    width: 80px;
    height: 28px;
    background-color: #FFA991;
    border-radius: 8px ;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}