main{
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    text-align: center;
}
body{
    background-color: #8e8e8e;
}
.textLeft{
    text-align: left;
    max-width: 800px;
    font-size: 25px;
    margin-bottom: -0.1em;
    margin-left: 0.2em;
}
.textRight{
    text-align: right; 
    max-width: 800px;
}
input.form {
    max-width: 800px;
    width: 96%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
    border: #aaa;
 }
 div.inputTextArea{
    vertical-align: top;
 }
 div.inputSubmitArea{
    text-align: left;
    margin-top: 9%
 }
 .submit{
    border-radius: 7px;
    margin: 0 auto;
    height:48px;
    width:120px;
    }
#textTitle{
    font-size: 30px;
    margin-top: 0.5em;
}
.forGet{

}