main{
    max-width: 800px;
    margin: 0 auto;
    height: 280px;
    background-color: #aaa;
    background-size: auto;
    text-align: center;
}
.forGet{

}
.textLeft{
    text-align: left;
    font-size: 25px;
}
.textRight{
    text-align: right; 
}
input.form {
    width: 96%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
 }
 div.inputTextArea{
    vertical-align: top;
 }
 div.inputSubmitArea{
    text-align: left;
 }
 .submit{
    border-radius: 7px;
    margin: 0 auto;
    height:48px;
    width:120px;
    }
#textTitle{
    font-size: 30px;
}